- default_font = "font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;"
- default_style = "#{default_font}font-size:15px;line-height:1.4;color:#8c8c8c;font-weight:300;padding:14px 0;margin:0;"
- spacer_style = "#{default_font};height:18px;font-size:18px;line-height:18px;"

%tr.alert
  %td{ style: "#{default_font}padding:10px;border-radius:3px;font-size:14px;line-height:1.3;text-align:center;overflow:hidden;color:#ffffff;background-color:#FC6D26;" }
    %table.img{ border: "0", cellpadding: "0", cellspacing: "0", style: "border-collapse:collapse;margin:0 auto;" }
      %tbody
        %tr
          %td{ style: "#{default_font}vertical-align:middle;color:#ffffff;text-align:center;" }
            %span
              = _("Your %{host} account was signed in to from a new location") % { host: Gitlab.config.gitlab.host }
%tr.spacer
  %td{ style: spacer_style }
    &nbsp;
%tr.section
  %td{ style: "#{default_font};padding:0 15px;border:1px solid #ededed;border-radius:3px;overflow:hidden;" }
    %table.info{ border: "0", cellpadding: "0", cellspacing: "0", style: "width:100%;" }
      %tbody
        %tr
          %td{ style: default_style }
            = _('Hostname')
          %td{ style: "#{default_style}color:#333333;font-weight:400;width:75%;padding-left:5px;" }
            = Gitlab.config.gitlab.host
        %tr
          %td{ style: "#{default_style}border-top:1px solid #ededed;" }
            = _('IP Address')
          %td{ style: "#{default_style}color:#333333;font-weight:400;width:75%;padding-left:5px;border-top:1px solid #ededed;" }
            %span.muted{ style: "color:#333333;text-decoration:none;" }
              = @ip
        %tr
          %td{ style: "#{default_style}border-top:1px solid #ededed;" }
            = _('Time')
          %td{ style: "#{default_style}color:#333333;font-weight:400;width:75%;padding-left:5px;border-top:1px solid #ededed;" }
            = @time.strftime('%Y-%m-%d %k:%M:%S %Z')
%tr.spacer
  %td{ style: spacer_style }
    &nbsp;
%tr.section
  %td{ style: "#{default_font};line-height:1.4;text-align:center;padding:0 15px;overflow:hidden;" }
    %table.img{ border: "0", cellpadding: "0", cellspacing: "0", style: "border-collapse:collapse;width:100%;" }
      %tbody
        %tr{ style: 'width:100%;' }
          %td{ style: "#{default_style}text-align:center;" }
            - password_link_start = '<a href="%{url}" target="_blank" rel="noopener noreferrer">'.html_safe % { url: 'https://docs.gitlab.com/ee/user/profile/#changing-your-password' }
            = _('If you recently signed in and recognize the IP address, you may disregard this email.')

            - if password_authentication_enabled_for_web?
              %p
                = _('If you did not recently sign in, you should immediately %{password_link_start}change your password%{password_link_end}.').html_safe % { password_link_start: password_link_start, password_link_end: '</a>'.html_safe }
                = _('Passwords should be unique and not used for any other sites or services.')

            - unless @user.two_factor_enabled?
              %p
                - mfa_link_start = '<a href="https://docs.gitlab.com/ee/user/profile/account/two_factor_authentication.html" target="_blank">'.html_safe
                = _('To further protect your account, consider configuring a %{mfa_link_start}two-factor authentication%{mfa_link_end} method.').html_safe % { mfa_link_start: mfa_link_start, mfa_link_end: '</a>'.html_safe }
